@page "/login"
@using Models
@using Infrastructure
@using Blazored
@using Blazored.Toast.Services
@using MasiYellow.Util
@using Microsoft.AspNetCore.Components

@inject IToastService ToastService
@inject IUriHelper UriHelper
@inject AuthorizationManager AuthorizationManager

<h1>Sign In</h1>

<EditForm Model="@_authModel" OnSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>Username:</p>
    <InputText id="username" bind-Value="@_authModel.Username" />
    <p>Password:</p>
    <InputText id="password" bind-Value="@_authModel.Password" />
    <br />
    <button type="submit">Submit</button>
</EditForm>


@functions {

    private LoginModel _authModel = new LoginModel();

    async void Submit()
    {
        if (await AuthorizationManager.SignIn(_authModel.Username, _authModel.Password))
        {
            ToastService.ShowSuccess("Success.");
            UriHelper.Navigate("");
        }
        else
        {
            ToastService.ShowError("Error.");
        }
    }
}
