@page "/userManagement"
@using Models
@using Infrastructure
@using Blazored
@using Blazored.Toast.Services
@using MasiYellow.Util
@using Microsoft.AspNetCore.Components

@inject IToastService ToastService
@inject IUriHelper UriHelper
@inject ApiCommunicator ApiCommunicator

<h1>Manage Users</h1>

@if (_users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Role.ToString()</td>
                    <td>
                        <Button onclick="@(() => OnUserEdit(user))">Edit</Button>
                    </td>
                    <td>
                        <Button onclick="@(() => OnUserRemove(user))">Delete</Button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@functions {

    private List<User> _users;

    protected override async Task OnInitAsync()
    {
        _users = await ApiCommunicator.GetAllUsers();
    }

    public void OnUserEdit(User user)
    {
        UriHelper.Navigate($"/editUser/{user.UserId}");
    }

    public async void OnUserRemove(User user)
    {
        if (await ApiCommunicator.DeleteUser(user))
        {
            _users.Remove(user);
            _users = _users;
        }
    }
}
